.error-boundry {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.error-boundry .error-img {
    max-width: 500px;
}

.error-boundry  .error-title {
    margin-bottom: 50px;
}